[[source]]
name = "spotlight"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
flask = "*"
requests = "*"
flask-restful = "*"
flask-script = "*"
python-dotenv = "*"
flask-cors = "*"
redis = "*"
boto3 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
server = "python api/app.py"
